<div class="container-fluid">
    <div class="row mt-4 pt-2">
        <div class="col-6 col-lg-6">
            <div class="d-flex">
                <span class="push-right" routerLink="/dashboard"><i class="fa-solid fa-angle-left mt-3"></i></span>
                <h6 class="fw-bold defaultText mt-3">Add Weight</h6>
            </div>
        </div>
        <div class="col-6 col-lg-6">
            <div class="toRight" style="padding-right: 10px;">
                <i class="fa-solid fa-filter mt-3"></i>
            </div>
        </div>
    </div>

    <div class="row mt-4 pt-4">
        <div class="col-lg-12">
            <div class="shape_out">
                <div class="shape">52,3</div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="mt-4">
                <img src="assets/images/weight_bar.png" style="width: 100%;" />
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-6 col-lg-6">
            <div class="myCard">
                <div class="px-2 py-2">
                    <div class="row">
                        <div class="col-12 col-lg-12">
                            <p class="mb-0 fw-bold text-center pt-3 pb-3">Male</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg-6">
            <div class="myCard">
                <div class="px-2 py-2">
                    <div class="row">
                        <div class="col-12 col-lg-12">
                            <p class="mb-0 fw-bold text-center pt-3 pb-3">Female</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-6 col-lg-6">
            <div class="myCard">
                <div class="px-2 py-2">
                    <div class="row">
                        <div class="col-lg-12 d-flex px-3 py-1">
                            <div class="col-6 col-lg-6">
                                <p class="mb-0" style="font-size: 14px;">Age</p>
                            </div>
                            <div class="col-6 col-lg-6">
                                <div class="" style="float: right;">
                                    <i class="fa-solid fa-gear"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-12">
                            <p class="mb-0 text-center pt-2 pb-2" style="font-size: 30px;">21</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg-6">
            <div class="myCard">
                <div class="px-2 py-2">
                    <div class="row">
                        <div class="col-lg-12 d-flex px-3 py-1">
                            <div class="col-6 col-lg-6">
                                <p class="mb-0" style="font-size: 14px;">Height</p>
                            </div>
                            <div class="col-6 col-lg-6">
                                <div class="" style="float: right;">
                                    <i class="fa-solid fa-gear"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-12">
                            <p class="mb-0 text-center pt-2 pb-2" style="font-size: 30px;">173</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="footer">
        <div class="row">
            <div class="col-lg-12">
                <div class="mb-5">
                    <button class="btn w-100 btn-primary save_btn" (click)="back()">Save</button>
                </div>
            </div>
        </div>
    </div>

</div>