<div class="footer mt-4">
    <div class="row">
        <div class="col-lg-12">
            <div class="content_icon mb-0">
                <div class="dropdown">
                    <div class="icon_footer_plus">
                        <i class="fa-solid fa-plus"></i>
                    </div>

                    <div class="dropdown-content drop-adjust">
                        <div class="drop-data">
                            <div class="push-left pt-4 pb-3">
                                <i class="fa-solid fa-heart-pulse text-mine"></i><span class="footP">Add blood pressure</span>
                            </div>
                        </div>
                        <div class="drop-data" routerLink="/weight">
                            <div class="push-left pt-3 pb-3">
                                <i class="fa-solid fa-weight-scale text-mine"></i><span class="footP">Add weight management</span>
                            </div>
                        </div>
                        <div class="drop-data">
                            <div class="push-left pt-3 pb-3">
                                <i class="fa-solid fa-bicycle text-mine"></i><span class="footP">Add activity pressure</span>
                            </div>
                        </div>
                        <div class="drop-data">
                            <div class="push-left pt-3 pb-4">
                                <i class="fa-solid fa-clock text-mine"></i><span class="footP">Track my workout</span>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-12 mt-2">
            <div class="myCardFooter">
                <div class="row pt-3 pb-3">
                    <div class="col-3 col-lg-3">
                        <div class="icon_footer_first">
                            <div class="downMenuIcon" routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                                <i class="fa-solid fa-home"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 col-lg-3">
                        <div class="icon_footer_first">
                            <div class="downMenuIcon" routerLink="/history" routerLinkActive="active">
                                <i class="fa-solid fa-chart-simple"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 col-lg-3">
                        <div class="icon_footer_third">
                            <div class="downMenuIcon" routerLinkActive="active">
                                <i class="fa-solid fa-comment"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 col-lg-3">
                        <div class="icon_footer_last">
                            <div class="downMenuIcon" routerLinkActive="active">
                                <i class="fa-solid fa-user"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>